html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--asap-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.embla__viewport {
  overflow: hidden;
  padding: 20px 0;
}

.embla__container {
  display: flex;
  align-items: center;
}

.embla__slide {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  min-width: 0;
}